<h2>Novo Exemplar</h2>
<form action="/exemplares/novo/<%= livroId %>" method="POST">
  <label for="codigo_tombo">Código Tombo:</label>
  <input type="text" name="codigo_tombo" required>
  <button type="submit">Cadastrar</button>
</form>