<!DOCTYPE html>
<html>
<head><title>Logout</title></head>
<body>
  <h1>Você saiu da aplicação!</h1>
    <%- include('partials/nav') %>
  <p>O token foi removido e você não está mais autenticado.</p>
  <a href="/auth/login">Fazer login novamente</a>
</body>
</html>