<nav> <!-- Navegação, deve ser substituida por partials/navbar.ejs -->
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="/livros">Livros</a></li>
            <li><a href="/usuarios">Usuários</a></li>
            <li><a href="/auth/login">Login</a></li>
            <li><a href="/auth/logout">Logout</a></li>
            <li><a href="/auth/register">Registrar usuario</a></li>
        </ul>
</nav>